<div class="about border">
    <div class="container">
        <h1 >About me</h1>
        <p>Hi there! My name is Erik Blaha and I'm a web developer based in Vienna. <br> Ever since I was
            a young boy, I've been fascinated by the world of web development and the endless
            possibilities it offers. Over the years, I've honed my skills and learned several programming
            languages, including HTML5, CSS, JavaScript, TypeScript, and Angular.
            <br>
            Now, I'm excited to take my passion for web development to the next level by creating my
            own website. Through my website, I hope to showcase my skills and experience in web
            development while also providing valuable insights and resources to others who share my
            passion.
            <br>
            When I'm not busy coding, you can find me exploring the beautiful city of Vienna or
            indulging in my other hobbies, which include football or play cards. I'm a firm believer in
            lifelong learning and I'm always looking for new challenges and opportunities to grow both
            personally and professionally.
            <br>
            Thank you for taking the time to visit my website and learn more about me. I look forward to
            connecting with you and collaborating on exciting web development projects in the future.</p>
    </div>
</div>