<div class="header">
    <div class="container">
        <nav>
            <div class="name">Erik Blaha</div>
            <ul>
                <li> <a href="#">Home</a> </li>
                <li> <a href="#">About</a> </li>
                <li> <a href="#">Skills</a> </li>
                <li> <a href="#">Projects</a> </li>
                <li> <a href="#">Contact</a> </li>
            </ul>

        </nav>
        <div class="header-text">
            <h3>HELLO!</h3>
            
            <h1>I am <span>Erik Blaha </span><br></h1>
            <p>Web Development / Web Design</p>
            <p>Welcome to my personal website. <br> Start your tour through my person and my skills.</p>
            
        </div>
        <button type="button" class="btn btn-light btn-lg">Read more</button>
    </div>
</div>
