
<div id="contact-section">
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="yourmail">E-mail</label>
    <input type="text" id="mail" name="mail" placeholder="@mail">


    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>


<iframe class="maps"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10639.307030660268!2d16.377114244868935!3d48.19068932251711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07630128a47f%3A0xfd30baea567c959!2sFasanviertel%2C%201030%20Wien!5e0!3m2!1sde!2sat!4v1680040615928!5m2!1sde!2sat"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>