<section class=" pt-5 pb-5 shadow-sm">
    <div class="container">
        <div class="row">
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card rounded" style="width: 20rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/11/19/22/32/css3-1841488_960_720.jpg"
                        class="card-img-top border-0" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Dōtonbori Canal</h5>
                        <p class="card-text mb-4 text-white">Is a manmade waterway dug in the early 1600's and now
                            displays many
                            landmark commercial locals and vivid neon signs.</p>
                        <a href="#" class="btn btn-primary  mt-auto align-self-start">Project 1</a>
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch ">
                <div class="card rounded" style="width: 20rem;">
                    <img src="https://cdn.pixabay.com/photo/2017/03/30/17/42/css-2189148_960_720.png"
                        class="card-img-top border-0" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Tritons Fountain</h5>
                        <p class="card-text text-white mb-4">Located just outside the City Gate of Valletta, Malta. It
                            consists of
                            three bronze Tritons holding up a large basin, balanced on a concentric base built out of
                            concrete and clad in travertine slabs.</p>
                        <a href="#" class="btn btn-primary  mt-auto align-self-start">Project 3</a>
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card rounded" style="width: 20rem;">
                    <img src="https://cdn.pixabay.com/photo/2012/04/10/23/59/css-27192_960_720.png"
                        class="card-img-top border-0" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Tritons Fountain</h5>
                        <p class="card-text text-white mb-4">Located just outside the City Gate of Valletta, Malta. It
                            consists of
                            three bronze Tritons holding up a large basin, balanced on a concentric base built out of
                            concrete and clad in travertine slabs.</p>
                        <a href="#" class="btn btn-primary  mt-auto align-self-start">Project 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>