<div id="projects-section">
  <section class="pt-5 pb-5 shadow-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card rounded" style="width: 20rem;">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/22/32/css3-1841488_960_720.jpg"
              class="card-img-top border-0" alt="Card Image">
            <div class="card-body d-flex flex-column text-center">
              <h5 class="card-title text-white">Upcoming</h5>
              <p class="card-text mb-4 text-white card-text-fixed">A nice project which i have done in my Frontend Course</p>
              <a href="#" class="btn btn-outline-light mt-auto">Project 1</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card rounded" style="width: 20rem;">
            <img src="https://cdn.pixabay.com/photo/2017/03/30/17/42/css-2189148_960_720.png"
              class="card-img-top border-0" alt="Card Image"><br><br>
            <div class="card-body d-flex flex-column text-center">
              <h5 class="card-title text-white">Javascript and Bootstrap</h5>
              <p class="card-text mb-4 text-white card-text-fixed">This little Page has a JS and Bootstrap 5 Format</p>
              <a href="#" class="btn btn-outline-light mt-auto">Project 2</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card rounded" style="width: 20rem;">
            <img src="https://cdn.pixabay.com/photo/2012/04/10/23/59/css-27192_960_720.png"
              class="card-img-top border-0" alt="Card Image">
            <div class="card-body d-flex flex-column text-center">
              <h5 class="card-title text-white">Upcoming</h5>
                <p class="card-text mb-4 text-white card-text-fixed">A Project which comes soon online!</p>
                <a href="#" class="btn btn-outline-light mt-auto">Project 3</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>