
.card-text-fixed {
  width: 100%; /* Set the width to 100% of the container */
  height: 100%; /* Set a fixed height */

  text-align: justify; /* Optional: Justify the text for better alignment */
}

    
    
    .card {
      border: 10px solid rgba(133, 118, 118, 0.125); /* Adjust the border width and color */
      border-radius: 30px; /* Adjust the border radius for rounded corners */
      background: none;
    }
    
   
    
  
  .btn {
    border-radius: 10px; /* Adjust the border radius for rounded corners */
  }